</div>
<!--Wrapper End-->
{% load static %}
<script src="{% static 'heartcare/js/jquery.min.js' %}"></script>
<script src="{% static 'heartcare/js/bootstrap.min.js' %}"></script>
<script src="{% static 'heartcare/js/js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'heartcare/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'heartcare/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'heartcare/js/custom.js' %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108110591-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-108110591-1');
</script>