{% load static %}
<div class="main-slider">
    <div id="main-slider" class="owl-carousel owl-theme">
      {% for slider in sliders %}
      <div class="item">
          <div class="slide-caption slide-2">
            <div class="container">
              <h1>{{ slider.caption }}</h1>
              <p>{{ slider.slogan }}</p>
              <a class="btn-1" href="#">Call for Inquiry</a> <a class="btn-1" href="#">Ask Cardiologist</a>
            </div>
          </div>
          <span class="simg"><img src="{{ slider.image.url }}" alt=""></span>
        </div>
      {% endfor %}
    </div>
  </div>